@page "/DatingAppUsers/Edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<head>
    <style>
        table {
            color: white;
        }

        th, td {
            color: white;
        }
    </style>
</head>

<h1 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Edit User</h1>

<DatingAppUserComponent ButtonText="Update" OnValidSubmit="@EditUser" datingappuser="datingappuser"/>


@code {
    [Parameter] public int id { get; set; }
    DatingAppUser datingappuser = new DatingAppUser();
    protected async override Task OnParametersSetAsync()
    {
        datingappuser = await _client.GetFromJsonAsync<DatingAppUser>($"{Endpoints.DatingAppUsersEndpoint}/{id}");
    }
    private async Task EditUser()
    {
        await _client.PutAsJsonAsync($"{Endpoints.DatingAppUsersEndpoint}/{id}", datingappuser);
        _navManager.NavigateTo("/DatingAppUsers");
    }

}
