@page "/UserProfiles/View/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

=

<h1 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">View Profile</h1>

<ProfileFormComponent userprofile="userprofile" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    UserProfile userprofile = new UserProfile();
    protected async override Task OnParametersSetAsync()
    {
        userprofile = await _client.GetFromJsonAsync<UserProfile>($"{Endpoints.UserProfilesEndpoint}/{id}");
    }
}
