@page "/Swipe"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Find your Match</PageTitle>

<h1 style= "text-align:center;font-family: 'Lucida Calligraphy',cursive">Find the one waiting for you!</h1>

@code {
    

}
