@page "/Settings"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<h1 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Settings</h1>

@code {

}
