@page "/Matches/Edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<head>
    <style>
        table {
            color: white;
        }

        th, td {
            color: white;
        }
    </style>
</head>

<h1 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Edit Match</h1>

<MatchesComponent ButtonText="Update" OnValidSubmit="EditMatch" match="match" />


@code {
    [Parameter] public int id { get; set; }
    Match match = new Match();

    protected async override Task OnParametersSetAsync()
    {
        match = await _client.GetFromJsonAsync<Match>($"{Endpoints.MatchesEndpoint}/{id}");

    }

    private async Task EditMatch()
    {
        await _client.PutAsJsonAsync($"{Endpoints.MatchesEndpoint}/{id}", match);
        _navManager.NavigateTo("/Matches/");
    }

}
