@page "/Matches"
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpClient _client
@implements IDisposable

<PageTitle>Matches</PageTitle>

<h1 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Matches</h1>
<a href="/Swipe" class=" btn btn-secondary">
    <span class="oi oi-plus"></span>
    Match With Somebody!
</a>
<br />
@if (Matches == null)
{
    <div class="alert alert-info">Loading Matches...</div>
}
else
{
    <table class=" table table-responsive" id="matchesTable">
        <thead>
            <tr>
                <th>Initiator</th>
                <th>Reciever</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Matches)
            {
                <tr>
                    <td>@match.DatingAppUserInitiator.Username</td>
                    <td>@match.DatingAppUserReciever.Username</td>
                    <td>
                        <a href="/Matches/View/@match.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Matches/Edit/@match.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class=" btn btn-danger" @onclick="@(()=> Delete(match.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<Match> Matches;
    protected async override Task OnInitializedAsync()
    {
        Matches = await _client.GetFromJsonAsync<List<Match>>($"{Endpoints.MatchesEndpoint}");
    }
    async Task Delete(int matchId)
    {
        var match = Matches.First(q => q.Id == matchId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {match.DatingAppUserInitiator.Username}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.MatchesEndpoint}/{matchId}");
            await OnInitializedAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#matchesTable");
    }
    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#matchesTable");
    }
}

