@page "/Swipe"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title" style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Match With Somebody!</h3>

<MatchesComponent ButtonText="Match!" match="match" OnValidSubmit="@CreateMatch" />

@code {
    Match match = new Match();

    private IList<DatingAppUser>? DatingAppUsers;

    protected async override Task OnInitializedAsync()
    {
        DatingAppUsers = await _client.GetFromJsonAsync<List<DatingAppUser>>($"{Endpoints.DatingAppUsersEndpoint}");
    }
    private async Task CreateMatch()
    {
        await _client.PostAsJsonAsync(Endpoints.MatchesEndpoint, match);
        _navManager.NavigateTo("/Matches");
    }
}