@page "/"

<PageTitle>Faithful Matches</PageTitle>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align:center;font-family: 'Lucida Calligraphy',cursive">Hey there!</h1>
<pre style="text-align:center;font-family: 'Lucida Calligraphy',cursive">You are one click away from finding the one for you!!
    Create an account to find the one meant or you!
</pre>
<div style="text-align:center;">
    <a href="/DatingAppUsers" class="btn btn-primary">Login</a>
</div>


